body {
  font-size: 1rem !important;
}

.hero {
  background: url("../images/bg-curly.png"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header-background.avif") top center no-repeat;
  background-size: cover;
}

/* Define keyframes for the animation */
@keyframes border-grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  margin-inline: 1rem;
}

.nav-link.nav-link-hover {
  position: relative;
  border-bottom: 1px solid transparent;
}

.nav-link.nav-link-hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--bs-primary);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link.nav-link-hover:hover::after {
  animation: border-grow 0.3s forwards;
}

/* Custom CSS to adjust the positioning of the dropdown menu */
.dropdown.dropstart {
  position: relative !important;
}

.dropdown.dropstart .dropdown-menu {
  position: absolute !important;
  top: 200% !important;
  right: 0;
}

.dropdown-toggle::before {
  display: none !important;
}

.offcanvas {
  max-width: 80%;
}

.btn:hover .fa-stack {
  transform: scale(1.5);
  transition: transform 0.2s ease;
}

@media (max-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-heading {
    font-size: 2.3rem;
    text-align: center;
  }
  .header-img-3 {
    width: 80px;
    top: -35px;
    left: -10px;
  }
  .statistic-img-1 {
    max-width: 200px;
    left: 10px;
  }
  .statistic-img-2 {
    max-width: 200px;
    right: 10px;
  }
  .ytb-video .modal-body {
    height: 200px !important;
  }
}
.product-description {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  padding-inline: 3rem;
}

.product-description .fa-stack {
  padding: 0.5rem 0;
  font-size: 1.5rem !important;
  cursor: pointer;
}

.product-description .fa-stack:hover .fa-circle {
  color: var(--bs-secondary) !important;
}

.product-description .fa-stack:hover .fa-angle-right {
  color: var(--bs-primary) !important;
}

.quality {
  background: url("../images/paper_bg.jpg") center center no-repeat;
  background-size: cover;
}

.search-button {
  cursor: pointer;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.badge {
  cursor: pointer;
}

.badge:hover {
  color: var(--bs-primary) !important;
}

.shopping-cart {
  cursor: pointer;
}

.shopping-cart .fa-shopping-cart {
  font-size: 12px;
}

.product-card {
  border-color: #eee;
}

.product-card:hover {
  border-color: var(--bs-primary);
}
